<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
?>

<!-- The core React library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
<!-- The ReactDOM Library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
<!-- Babel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>


<script type="text/babel">
const RowHeader = React.createClass({

    componentDidMount: function(){
        $(".container-row-header").sortable({ handle: '.fa-arrows' });
    }, //componentDidMount

    save: function() {
        this.props.onChange(this.refs.newText.value, this.props.index);
         this.props.onChange(this.refs.newTitle.value, this.props.index);
    }, //remove

    remove: function() {
        this.props.onRemove(this.props.index);
    }, //remove

    render: function() {
        return (
             <div className="a-row-header" style={this.style}>
                   <div className="a-column span6">
                       <div className="form-group m-l10 m-b0">
                           <input className={"form-control " + this.props.editmode} type="text" ref="newTitle" defaultValue= "NEW BUILDING BLOCK Edit"   onMouseMove={this.save} />
                       </div>
                   </div>

                   <div className="a-column span6">
                       <a className={"btn-link a-btn-link-icon btn-small pull-right " + this.props.editmode}>
                           <i className="fa fa-arrows fa-lg"></i>
                       </a>

                       <button className={"btn btn-default btn-mini  pull-right m-b10 " + this.props.editmode} onClick={this.remove}>
                           <i className="fa fa-remove"></i>
                           &nbsp;&nbsp;Remove Section
                       </button>
                   </div>

                   <div className={"row-fluid a-column pull-left" + this.props.editmode}>
                       <div className="form-group span12 p-l10 m-b0 p-r10">
                               <textarea className="form-control" defaultValue={this.props.children} placeholder="Enter guidance for this section Edit" ref="newText" onMouseMove={this.save}></textarea>
                       </div>
                   </div>
               </div>
        ) //return
    } //render
}); //RowHeader



const RowCategory = React.createClass ({
    getInitialState: function() {
        return {
            editing: false,
            columnheadingnumber: 'Column Heading',
            columnheading: 'Column Heading',
            column: []
        }
    }, //getInitialState

    onNameChange: function(event) {
      this.setState({columnheading: event.target.value});
    }, //onNameChange

    onNameNumberChange: function(event) {
      this.setState({columnheadingnumber: event.target.value});
    }, //onNameNumberChange

    rowCategoryEdit: function() {
        this.setState({editing: true});
    }, //rowCategoryEdit

    rowCategorySave: function() {
        this.setState({editing: false});
    }, //rowCategorySave

    renderDisplay: function() {
        var btnRowCategoryEditSaveStyle = {
            position: 'absolute',
            bottom:9,
            right:4
        };
        var btnAddStyle = {
            position: 'absolute',
            bottom:4,
            right:0
        };

        var btnMargin = {
            marginRight:5
        };

        var btnInOutdentStyle = {
            position: 'absolute',
            bottom:4,
            left:0
        };

        return (
                <div>
                    <div className="a-row-header-category a-row-lv1">
                        <div className="a-column span4">
                          <b className="a-column proc-num">#</b>
                          <b className="a-column proc-txt">Procedure</b>
                        </div>

                        {this.state.column.map(this.eachColumnLabel)}

                        <button onClick={this.rowCategoryEdit} className={"btn btn-default btn-mini a-btn-edit" + this.props.editmode} style={btnRowCategoryEditSaveStyle}>
                            <i className="fa fa-pencil fa-lg"></i>
                        </button>
                    </div>

                    <div>
                        <div className={"a-row a-row-edit a-row-lv1 " + this.props.className} key={"asf" + 100 * i++}>
                            <div className="a-column span4">
                                <div className="a-column proc-num">1.{this.props.number}</div>
                                <div className="a-column proc-txt">Procedure text sample content em dolors amet sit</div>
                            </div>

                         {this.state.column.map(this.eachColumnRowContent)}

                            <a href='#' className={"a-btn-link-icon  btn-small btn-hover btn-delete-row "  + this.props.editmode}>
                                <i className="fa fa-remove fa-lg"></i>
                            </a>
                            <button className={"btn btn-default btn-mini btn-add-row " + this.props.editmode} type="button" style={btnAddStyle}>
                                <i className="fa fa-plus"></i>
                            </button>
                            <div className=""  style={btnInOutdentStyle}>
                                <button className={"btn btn-default btn-mini m-r10 pull-left btn-indent-row " + this.props.editmode + this.props.indent} type="button"title="Indent">
                                    <i className="fa fa-indent"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            ); //return
    }, //renderDisplay

    renderForm: function() {
        var btnRowCategoryEditSaveStyle = {
            position: 'absolute',
            bottom:9,
            right:4
        };
        var btnAddStyle = {
            position: 'absolute',
            bottom:4,
            right:0
        };

        var btnMargin = {
            marginRight:5
        };

        var btnInOutdentStyle = {
            position: 'absolute',
            bottom:4,
            left:0
        };

        return (
        <div>
          <div className={"a-row-header-category " + this.props.editmode}>
              <div className="a-column span4">
                  <div className="span2  a-column-edit" >
                      <div className="mol-form-group">
                          <select className="mol-form-control" disabled="disabled">
                              <option value="numbering" defaultValue="selected">#</option>
                          </select>
                          <div className="mol-form-control-menu-up">
                              <button className="a-btn-form-control"><i className="fa fa-eye"></i></button>
                          </div>
                      </div>

                      <div className="a-column-bg">
                          <div className="form-group">
                              <label className="a-label" title="Column size">Column size</label>
                              <input className="form-control" type="text" defaultValue="1" disabled />
                          </div>
                          <div className="form-group">
                              <label className="a-label" title={this.state.columnheadingnumber}>{this.state.columnheadingnumber}</label>
                              <input className="form-control" type="text" defaultValue="#" onChange={this.onNameNumberChange}/>
                          </div>
                      </div>

                      <a href="#myModalnumbering" role="button" data-toggle="modal" className="a-btn-link-icon btn-small btn-hover"  title="Settings Numbering">
                          <i className="fa fa-cog fa-lg"></i>
                      </a>
                  </div>

                  <div className="span10">
                      <div className="mol-form-group">
                          <select className="mol-form-control">
                              <option value="procedure" defaultValue="selected">Procedure</option>
                              <option value="assertion">Assertion</option>
                              <option value="completedcheckbox">Completed checkbox</option>
                              <option value="workpaperreference">Workpaper Reference FormRef</option>
                              <option value="multishortresponsecheckbox">Multi-short-response – checkbox</option>
                              <option value="multishortresponseradiobutton">Multi-short-response – radio button</option>
                              <option value="proceduresignoff">Procedure sign off </option>
                              <option value="comment">Comment</option>
                          </select>
                      </div>
                      <div className="a-column-bg">
                          <div className="form-group">
                              <label className="a-label" title="Column size">Column size</label>
                              <input className="form-control" type="text" defaultValue="3" />
                          </div>
                          <div className="form-group">
                              <label className="a-label" title={this.state.columnheading}>{this.state.columnheading}</label>
                              <input className="form-control" type="text" defaultValue="Procedure" onChange={this.onNameChange} />
                          </div>
                      </div>
                  </div>
              </div>

            {this.state.column.map(this.eachColumn)}

              <div className="btn-group pull-left m-b10 m-l10">
                 <button  className="btn btn-default dropdown-toggle btn-add-col" data-toggle="dropdown" type="button" title="Add New Column">
                      <i className="fa fa-plus" aria-hidden="true"></i>
                      &nbsp;
                      <span className="caret"></span>
                 </button>

                 <ul className="dropdown-menu" >
                      <li><a href="#" onClick={this.coladd.bind(null, "New Column")}>Procedure</a></li>
                      <li><a href="#" onClick={this.coladd.bind(null, "New Column")}>Assertion</a></li>
                      <li><a href="#" onClick={this.coladd.bind(null, "New Column")}>Completed checkbox</a></li>
                      <li><a href="#" onClick={this.coladd.bind(null, "New Column")}>Workpaper Reference FormRef</a></li>
                      <li><a href="#" onClick={this.coladd.bind(null, "New Column")}>Multi-short-response – checkbox</a></li>
                      <li><a href="#" onClick={this.coladd.bind(null, "New Column")}>Multi-short-response – radio button</a></li>
                      <li><a href="#" onClick={this.coladd.bind(null, "New Column")}>Procedure sign off </a></li>
                      <li><a href="#" onClick={this.coladd.bind(null, "New Column")}>Comment</a></li>
                  </ul>
              </div>
          </div>

            <div className="a-row-header-category a-row-lv1" key={"z" + 100 * i++}>
               <div className="a-column span4">
                 <b className="a-column proc-num">#</b>
                 <b className="a-column proc-txt">Procedure</b>
               </div>

               {this.state.column.map(this.eachColumnLabel)}

               <button  onClick={this.rowCategorySave} className={"btn btn-default btn-mini a-btn-save" } style={btnRowCategoryEditSaveStyle}>
                   <i className="fa fa-check fa-lg"></i>
               </button>
            </div>

             <div>
                <div className={"a-row a-row-edit a-row-lv1 " + this.props.className}>
                    <div className="a-column span4">
                        <div className="a-column proc-num">1.{this.props.number}</div>
                        <div className="a-column proc-txt">Procedure text sample content em dolors amet sit</div>
                    </div>

                    {this.state.column.map(this.eachColumnRowContent)}

                    <a href='#' className={"a-btn-link-icon btn-small btn-hover " + this.props.editmode}>
                        <i className="fa fa-remove fa-lg"></i>
                    </a>
                    <button className={"btn btn-default btn-mini " + this.props.editmode} type="button" style={btnAddStyle}>
                        <i className="fa fa-plus"></i>
                    </button>
                    <div className=""  style={btnInOutdentStyle}>
                        <button className={"btn btn-default btn-mini m-r10 pull-left " + this.props.editmode + this.props.indent} type="button"title="Indent">
                            <i className="fa fa-indent"></i>
                        </button>
                    </div>
                </div>
             </div>
        </div>


        ) //return
    }, //renderForm


    nextIdRowCategory: function() {
        this.uniqueId = this.uniqueId || 0;
        return this.uniqueId++;
    }, //nextIdRowCategory

    coladd: function(text,e) {
        e.preventDefault();
        var arr = this.state.column;
        arr.push({
            id: this.nextIdRowCategory(),
            title: text
        });
        this.setState({column: arr});
    }, //add

    colupdate: function(newText, i) {
        var arr = this.state.column;
        arr[i].title = newText;
        this.setState({column: arr});
    }, //update

    colremove: function(i) {
        var arr = this.state.column;
        arr.splice(i, 1);
        this.setState({column: arr});
    }, //remove

    eachColumn: function(title, i) {
        return (
                <div className="span2" key={'col-' + i++ }>
                    <ColDefault
                        onRemove={this.colremove}
                    > </ColDefault>
                </div>
        ); //return
    }, //eachColumn

    eachColumnLabel: function(title, i) {
        return (
            <div className="a-column span2" key={'col-label-' + i++ }>
              <b>test</b>
            </div>
        ); //return
    }, //eachColumnLabel


    eachColumnRowContent: function(title, i) {
        return (
            <div className="a-column span2" key={'col-row-content-' + i++ }>
                <div className="auto-persist editable-area fullwidth p-0 m-0"  data-field="Comments">Text here</div>

            </div>
        ); //return
    }, //eachColumnRowContent


    render: function() {
        if(this.state.editing){
            return this.renderForm();
        }
        else {
            return this.renderDisplay();
        }
    } //render
}); //RowCategory



const ColDefault = React.createClass({
    getInitialState: function() {
       return {columnheading: 'Column Heading'};
     },

    onNameChange: function(event) {
      this.setState({columnheading: event.target.value});
    },

    colremove: function() {
        this.props.onRemove(this.props.index);
    }, //remove

    render: function(){
        return (
              <div className="a-column">
                  <div className="mol-form-group">
                      <select className="mol-form-control">
                          <option value="procedure">Procedure</option>
                          <option value="assertion" defaultValue="selected">Assertion</option>
                          <option value="completedcheckbox">Completed checkbox</option>
                          <option value="workpaperreference">Workpaper Reference FormRef</option>
                          <option value="multishortresponsecheckbox">Multi-short-response – checkbox</option>
                          <option value="multishortresponseradiobutton">Multi-short-response – radio button</option>
                          <option value="proceduresignoff">Procedure sign off </option>
                          <option value="comment">Comment</option>
                      </select>
                      <div className="mol-form-control-menu-up">
                          <button className="a-btn-form-control" onClick={this.colremove}>remove</button>
                      </div>
                  </div>
                  <div className="a-column-bg">
                      <div className="form-group">
                          <label className="a-label"  title="Column size">Column Size</label>
                          <input className="form-control" type="text" defaultValue="2" name="columnsize"/>
                      </div>
                      <div className="form-group">
                          <label className="a-label"  title="Custom label">{this.state.columnheading}</label>
                          <input className="form-control" type="text" defaultValue="Assertion"   name="columnsize"  onChange={this.onNameChange}/>
                      </div>
                  </div>
              </div>
        ) //return
    } //render
}); //ColDefault
var i;

const Row = React.createClass ({

    render: function() {

    var btnAddStyle = {
        position: 'absolute',
        bottom:4,
        right:0
    };

    var btnMargin = {
        marginRight:5
    };

    var btnInOutdentStyle = {
        position: 'absolute',
        bottom:4,
        left:0
    };

     return (
             <div>
                <div className={"a-row a-row-edit a-row-lv1 " + this.props.className}>
                    <div className="a-column span4">
                        <div className="a-column proc-num">{this.props.number}</div>
                        <div className="a-column proc-txt">Procedure text sample content em dolors amet sit</div>
                    </div>

                    <a href='#' className={"a-btn-link-icon  btn-small btn-hover " + this.props.editmode}>
                        <i className="fa fa-remove fa-lg"></i>
                    </a>
                    <button className={"btn btn-default btn-mini " + this.props.editmode} type="button" style={btnAddStyle}>
                        <i className="fa fa-plus"></i>
                    </button>
                    <div className=""  style={btnInOutdentStyle}>
                        <button className={"btn btn-default btn-mini pull-left " + this.props.editmode + this.props.outdent} type="button"  title="Outdent" style={btnMargin} >
                            <i className="fa fa-outdent"></i>
                        </button>

                        <button className={"btn btn-default btn-mini m-r10 pull-left " + this.props.editmode + this.props.indent} type="button"title="Indent">
                            <i className="fa fa-indent"></i>
                        </button>
                    </div>
                </div>
             </div>
        ) //return
    } //render
}); //Row


var RowMenu = React.createClass ({
    render: function () {
        return (
            <div>
                <div className={"a-row " + this.props.editmode}>
                    <RowMenuButtonAdd />
                    <RowMenuButtonAddOpen />
                    <a className="btn btn-default btn-small pull-left m-r10" data-type="rowheading">Add Heading</a>
                    <a className="btn btn-default btn-small pull-left" data-type="guidance">Add Guidance Row</a>
                    <RowMenuButtonDropDownVisibility />
                </div>
            </div>
        )
    }
});

var RowMenuButtonAdd = React.createClass ({
    render: function() {
        var inlineStyle = {
            width: 38,
        };
        return (
            <div className="input-group pull-left m-r10 m-b0" >
               <input type="text" className="form-control text-center input-sm" defaultValue="1" style={inlineStyle} />
               <span className="input-group-btn">
                   <button className="btn btn-default btn-small" type="button">Add Row</button>
               </span>
           </div>
        ) //return
    } //render
}); //RowMenuButtonAdd

var RowMenuButtonAddOpen = React.createClass ({
    render: function() {
        var inlineStyle = {
            width: 38,
        };
        return (
            <div className="input-group pull-left m-r10 m-b0">
                <input type="text" className="form-control text-center input-sm" defaultValue="1" style={inlineStyle} />
                <span className="input-group-btn">
                    <button className="btn btn-default btn-small" type="button">Add Open Row</button>
                </span>
            </div>
        ) //return
    } //render
}); //RowMenuButtonAddOpen

var RowMenuButtonDropDownVisibility = React.createClass ({
    render: function() {
        return (
            <div className="btn-group pull-right m-l10">
                <button className="btn btn-small"><i className="fa fa-eye" aria-hidden="true"></i></button>
                <button className="btn  btn-small dropdown-toggle" data-toggle="dropdown"><span className="caret"></span></button>
                <ul className="dropdown-menu pull-right" >
                    <li><a href="#"><label className="checkbox"><input type="checkbox"  value="" />Add Row</label></a></li>
                    <li><a href="#"><label className="checkbox"><input type="checkbox"  value="" />Add Open Row</label></a></li>
                    <li><a href="#"><label className="checkbox"><input type="checkbox"  value="" />Add Heading</label></a></li>
                    <li><a href="#"><label className="checkbox"><input type="checkbox"  value="" />Add Guidance Row</label></a></li>
                </ul>
            </div>
        ) //return
    } //render
}); //RowMenuButtonDropDownVisibility




const Container = React.createClass({
    propTypes: {
        count: function(props, propName) {
            if (typeof props[propName] !== "number"){
                return new Error('The count property must be a number');
            }
            if (props[propName] > 100) {
                return new Error("Creating " + props[propName] + " notes is ridiculous");
            }
        } //count
    }, //propTypes

    getInitialState: function() {
        return {
            rowheader: []
        };
    }, //getInitialState

    nextId: function() {
        this.uniqueId = this.uniqueId || 0;
        return this.uniqueId++;
    }, //nextId


    componentWillMount: function() {
        var self = this;
        var propsCount = this.props.count

        if(this.props.count) {
            $.getJSON("https://jsonplaceholder.typicode.com/photos",  function(results){

                var limitResults = results.slice(0,propsCount);

                $.each(limitResults, function(i, value){
                    self.add(value.title)
                });
             });
        }
    }, //componentWillMount

    add: function(text) {
        var arr = this.state.rowheader;
        arr.push({
            id: this.nextId(),
            title: text
        });
        this.setState({rowheader: arr});
    }, //add

    update: function(newText, i) {
        var arr = this.state.rowheader;
        arr[i].title = newText;
        this.setState({rowheader: arr});
    }, //update

    remove: function(i) {
        var arr = this.state.rowheader;
        arr.splice(i, 1);
        this.setState({rowheader: arr});
    }, //remove


    eachRowheader: function(title, i) {
        return (
            <div key={title.id} className="b-h m-b10">
                <RowHeader
                    index={i}
                    onChange={this.update}
                    onRemove={this.remove}
                >{title.title} </RowHeader>

                 <RowCategory />
                 <RowMenu />
            </div>
        ); //return
    }, //eachRowheader

    render: function() {


        return (
            <div className="container container-row-header m-b10" >
               <button className="btn btn-sm btn-warning btn-add-row m-b10 m-t10" onClick={this.add.bind(null, "New Building Block description text")}><i className="fa fa-plus" ></i> Add New Building Block</button>
                {this.state.rowheader.map(this.eachRowheader)}
            </div>
        ); //return
    } //render
}); //Container


ReactDOM.render(
    <Container count={2} />,
    document.getElementById('react-container'));
</script>


<div id="react-container" class="react-container"></div>
