/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/07/2016, 11:23:25 AM
    Author     : SteveTangue
*/

/* debugger border styles */
.b-b {
    border:1px solid blue;
}
.b-r {
    border:1px solid red;
}
.b-h {
    border:1px solid hotpink;
}
.b-g {
    border:1px solid green;
} 

.b-gray {
    border:5px solid #ddd;
} 


/* margin */
.m-t10 {
    margin-top:10px;
}
.m-b10 {
    margin-bottom:10px;
}
.m-l10 {
    margin-left:10px;
}
.m-r10 {
    margin-right:10px;
}
.m-t0 {
    margin-top:0;
}
.m-b0 {
    margin-bottom:0;
}
.m-l0 {
    margin-left:0;
}
.m-r0 {
    margin-right:0;
}



/* padding */
.p-t10 {
    padding-top:10px;
}
.p-b10 {
    padding-bottom:10px;
}
.p-l10 {
    padding-left:10px;
}
.p-r10 {
    padding-right:10;
}
.p-t0 {
    padding-top:0;
}
.p-b0 {
    padding-bottom:0;
}
.p-l0 {
    padding-left:0;
}
.p-r0 {
    padding-right:0;
}