/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/07/2016, 8:46:09 AM
    Author     : SteveTangue
*/

/*
$border-radius-base:        4px !default;
$border-radius-large:       5px !default;
$border-radius-small:       3px !default;

*/